
 {% load static%}

  <nav class="blog-nav nav nav-justified my-5">
      {% if posts.has_previous %}

          <a class="nav-link-prev nav-item nav-link rounded-left" href="{% url 'blog_list' %}?page={{ posts.previous_page_number }}">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
      {% endif %}
        {% if posts.has_next %}


				  <a class="nav-link-next nav-item nav-link rounded-right" href="{% url 'blog_list' %}?page={{ posts.next_page_number }}">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
            {% endif  %}

  </nav>